{% extends 'registrationbase.html' %}
{% block title %} Update Child {% endblock title %}
{% block body %}
 <div class="main-wrapper">

            <!-- ========== TOP NAVBAR ========== -->
   

                    <div class="main-page">
                        <div class="container-fluid">
                            <div class="row page-title-div">
                                <div class="col-md-6">
                                    <h2 class="title">Update Details</h2>
                                
                                </div>
                                
                                <!-- /.col-md-6 text-right -->
                            </div>
                            <!-- /.row -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/v_dashboard"><i class="fa fa-home"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Update child details</li>
                                </ol>
                            </nav>
                            <!-- /.row -->
                        </div>
                        <!-- /.container-fluid -->

                        <section class="section">
                            <div class="container-fluid">

                             

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="panel">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <h5>View Child Info</h5>
                                                </div>
                                            </div>

                                        </div>
                                       
                                            <div class="panel-body p-20">

                                                <table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Child Id</th>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Mobile Number</th>
                                                       <!--     <th>Creation Date</th>  -->
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                        {% for field in data %}
                                                        <tr>
                                                          <td>{{ field.c_id }}</td>
                                                            <td> {{ field.c_fname }}</td>
                                                            <td> {{ field.c_lname }}</td>
                                                            <td> {{ field.c_mobile_num }} </td>
                                                        <!--    <th>Creation Date</th>  -->
                                                      
                                                             <td>
                                    <a href="{% url 'edit_c_details' field.c_id %}"class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_c_details' field.c_id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                  {% endfor %}
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>


                                                </table>

                                         
                                                <!-- /.col-md-12 -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.col-md-6 -->

                                                               
                                                </div>
                                                <!-- /.col-md-12 -->
                                            </div>
                                        </div>
                                        <!-- /.panel -->
                                    </div>
                                    <!-- /.col-md-6 -->

                                </div>
                                <!-- /.row -->

                            </div>
                            <!-- /.container-fluid -->
                        </section>
                        <!-- /.section -->

                    </div>
                    <!-- /.main-page -->

                    

                </div>
                <!-- /.content-container -->
            </div>
            <!-- /.content-wrapper -->

        </div>
         <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script src="js/pace/pace.min.js"></script>
        <script src="js/lobipanel/lobipanel.min.js"></script>
        <script src="js/iscroll/iscroll.js"></script>

        <!-- ========== PAGE JS FILES ========== -->
        <script src="js/prism/prism.js"></script>
        <script src="js/DataTables/datatables.min.js"></script>

        <!-- ========== THEME JS ========== -->
        <script src="js/main.js"></script>
        <script>
            $(function($) {
                $('#example').DataTable();

                $('#example2').DataTable( {
                    "scrollY":        "300px",
                    "scrollCollapse": true,
                    "paging":         false
                } );

                $('#example3').DataTable();
            });
        </script>
{% endblock body %}