{% extends 'v_base.html' %}
{% block title %} registration {% endblock title %}
{% block body %}

<div class="col-xl-10 col-lg-7" style="padding-left:200px;">
              <div class="card shadow mb-4" >

              <h2 align="center">Change Password </h2>
<div class="container">
  


 <div class='resp_code frms'style="margin-left:10px;">
<div class=row>
  <div class="col-25">
  <label for="changehwpassword">Old Password:</label>
    </div>
    <div class="col-75" style="height:20px;">
  <input type="password" id="changehwpassword" name="changehwpassword" placeholder="Enter Old Password"required>
  </div>
  </div>

<div class=row>
  <div class="col-25">
  <label for="newhwpassword">New Password:</label>
    </div>
    <div class="col-75" style="height:20px;">
  <input type="password" id="newhwpassword" name="newhwpassword" placeholder="Enter New Password"required>
  </div>
  </div>

<div class=row>
  <div class="col-25">
  <label for="confirmhwpassword">Confirm Password:</label>
    </div>
    <div class="col-75" style="height:20px;">
  <input type="password" id="confirmhwpassword" name="confirmhwpassword" placeholder="Confirm Password"required>
  </div>
  </div>

  <div class="row">
<div class="col-25">
  <input type="submit" onclick="alert('Password changed Successfully')" value="Submit">
  </div>
 <div class="col-75"> 


</div>
</div>
</div>
</div>








  {% endblock body %}
